name: Container Scan

on:
  workflow_call:
    inputs:
      image_tag_to_scan:
        description: "Desired image tag to scan (0.0.0, main..)"
        required: true
        type: string
      runner_type:
        description: "Desired runner type (ubuntu-latest, ubuntu-latest-m)"
        required: false
        type: string
        default: "ubuntu-latest"
    secrets:
      ghcr_github_token:
        description: 'GITHUB_TOKEN needed for ghcr login'
        required: true

permissions:
  contents: read
  packages: read
  security-events: write
  actions: read

env:
  DOCKER_IMAGE_TAG: ${{ inputs.image_tag_to_scan }}
  GITHUB_REGISTRY: ghcr.io

jobs:
  sanity-check-inputs:
    runs-on: ubuntu-latest
    steps:
    - name: Check input
      run: |
        if [[ "${RUNNER_TYPE}" == "ubuntu-latest" ]]; then
          echo "Running on ubuntu-latest"
        elif  [[ "${RUNNER_TYPE}" == "ubuntu-latest-m" ]]; then
          echo "Running on ubuntu-latest-m"
        else
          echo "Desired runner type not supported."
          exit 1
        fi
      env:
        RUNNER_TYPE: ${{ inputs.runner_type }}

  container-scan:
    needs: sanity-check-inputs
    runs-on: ${{ inputs.runner_type }}
    steps:
    - name: Make lowercase GITHUB_REPOSITORY
      run: |
        echo GITHUB_REPOSITORY=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV

    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
          persist-credentials: false

    - name: Log in to the Container registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ${{ env.GITHUB_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.ghcr_github_token }}

    - name: Pull Docker image
      run: docker pull "${IMAGE_REF}"
      env:
        IMAGE_REF: ${{ env.GITHUB_REGISTRY }}/${{ env.GITHUB_REPOSITORY }}:${{ env.DOCKER_IMAGE_TAG }}

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
      with:
        image-ref:  ${{ env.GITHUB_REGISTRY }}/${{ env.GITHUB_REPOSITORY }}:${{ env.DOCKER_IMAGE_TAG }}
        format: 'sarif'
        output: 'trivy-results.sarif'
        severity: 'CRITICAL,HIGH'
        limit-severities-for-sarif: true

    - name: Upload result to GitHub Code Scanning
      uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      if: always()
      with:
        sarif_file: trivy-results.sarif
