name: Dependency Review

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: main
  pull_request:
    branches: main
  
permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
          persist-credentials: false

    - name: Dependency Review
      uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
      with:
        config-file: 'mojotech-no/reusable-workflows/dependency-review-config.yml@main'
        # workaround for events other than PR
        base-ref: ${{ github.event.pull_request.base.sha || 'main' }}
        head-ref: ${{ github.event.pull_request.head.sha || github.ref }}
